html, body {
    height: 100%;
}

#main {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    border: 1px solid black;
}

.empty {
    border: 1px solid black;
    /* width:10px; */
    /* height: 10px; */
    float: left;   
}

.rows {
    display: block;
    height:12px;
}

.rows div {

}

.active {
    /* background-color: black; */
}