html, body {
    height: 100%;
    text-align: center;
    background-image: url("images/playground.jpg");
    background-size: cover;
}

#main {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    display: inline-block;
}

.empty {
    border: 1px solid black;
    /* width:10px; */
    /* height: 10px; */
    float: left;   
    background-color: white;
}

.rows {
    display: block;
}

.rows div {

}

.active {
    /* background-color: black; */
}

@font-face {
    font-family: "Brown Bag Lunch";
    src: url("fonts/brownbaglunch.medium.ttf");
}

h1 {
    font-family: "Brown Bag Lunch";
    font-size: 5em;
    margin: 0;
}

#options input {
    height: 20px;
    margin:0;
}
